@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:ital,wght@1,300;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.anuncio {
  display: flex;
  background-color: #100f0f;
  justify-content: center;
  align-items: center;
  padding: 2px; }

.anuncio button {
  display: flex;
  height: 20px;
  width: 60px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 10px;
  padding: 0;
  background-color: red; }
  .anuncio button:active {
    background-color: re; }

.anuncio button p {
  margin: 0;
  color: white;
  font-size: 13px;
  line-height: 1; }

.especial {
  color: white;
  margin-bottom: 0; }

.comprar {
  color: #f63838;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 65px; }

.banner img {
  width: 100%; }

.mostrador1 {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px; }
  @media (max-width: 1460px) {
    .mostrador1 {
      margin-left: 20px;
      margin-right: 20px; } }
  @media (max-width: 1300px) {
    .mostrador1 {
      margin-left: 0;
      margin-right: 0; } }
  @media (max-width: 700px) {
    .mostrador1 {
      grid-template-columns: 1fr;
      width: 100%; } }
  .mostrador1 div {
    width: 100%; }
  .mostrador1 img {
    width: 100%;
    /* Asegura que las imágenes ocupen el ancho completo de su contenedor */
    height: auto;
    cursor: pointer; }

.mostrador2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px; }
  @media (max-width: 720px) {
    .mostrador2 {
      grid-template-columns: 1fr; } }
  .mostrador2 .mostrador2 div {
    position: relative;
    overflow: hidden;
    /* Para asegurar que el contenido extra de las imágenes no se muestre */ }
  .mostrador2 img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 900px;
    cursor: pointer; }

.grow img {
  transition: 1s ease; }

.grow img:hover {
  -webkit-transform: scale(1.014);
  -ms-transform: scale(1.014);
  transform: scale(1.014);
  transition: 1s ease; }

.bannerbot img {
  padding-top: 100px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer; }
  @media (max-width: 500px) {
    .bannerbot img {
      padding-left: 0px;
      padding-right: 0px; } }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace !important;
  font-style: italic !important; }

#item1 {
  background-image: url(../resources/item.png); }
  @media (max-width: 991px) {
    #item1 {
      background-image: url(../resources/caruselmobil1.jpg); } }

#item2 {
  background-image: url(../resources/item2.jpg); }

#item3 {
  background-image: url(../resources/item3.jpg); }
  @media (max-width: 991px) {
    #item3 {
      background-image: url(../resources/caruselmobil3.jpg); } }

@media (max-width: 991px) {
  #item3 {
    background-image: url(../resources/caruselmobil3.jpg); } }

#carouselExample {
  padding-left: 50px;
  padding-right: 50px; }

@media (max-width: 600px) {
  #carouselExample {
    padding-left: 0px;
    padding-right: 0px; } }

h1 {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 235, 205, 0.527);
  color: blue;
  border-width: 2px;
  border-style: solid;
  border-top: true;
  border-bottom: true;
  margin-bottom: 0 !important; }

.carousel-item p {
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
  color: #ffee00;
  font-size: 1em;
  padding-left: 150px; }
  @media (max-width: 991px) {
    .carousel-item p {
      display: flex !important;
      align-items: center;
      justify-content: center;
      padding: 0;
      font-size: 1em; } }
  @media (max-width: 640px) {
    .carousel-item p {
      display: none !important; } }

.carousel-item h2 {
  display: flex;
  color: #a5472a;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: 400;
  font-style: normal;
  padding-top: 300px;
  padding-left: 150px; }
  @media (max-width: 991px) {
    .carousel-item h2 {
      padding: 0;
      align-items: center;
      justify-content: center;
      padding-top: 65px;
      font-size: 50px; } }
  @media (max-width: 310px) {
    .carousel-item h2 {
      font-size: 40px; } }

@media (max-width: 991px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 200px !important; } }

@media (max-width: 600px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none !important; } }

/*usamos esto para que las flehcas del carousel no ocupen todo el alto del contenedor*/
.carousel-control-prev,
.carousel-control-next {
  margin-top: 300px;
  margin-bottom: 300px;
  width: 300px !important; }
  @media (max-width: 991px) {
    .carousel-control-prev,
    .carousel-control-next {
      width: 200px !important; } }

.carousel-item {
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 2px; }
  .carousel-item .button-54:active {
    box-shadow: 0;
    left: 155px;
    top: 5px; }

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 150px;
  z-index: 200;
  /*utilizado para que el boton del carousel no interfiera con el boton de SHOP*/ }
  .button-54:active {
    box-shadow: none;
    left: 155px;
    top: 5px; }
  @media (max-width: 991px) {
    .button-54 {
      display: none; } }

.contenedor-galeria h2 {
  padding: 15px 0;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
  margin-bottom: 0 !important; }

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: space-around;
  justify-items: center;
  height: 1000px;
  margin: 0 50px;
  border-left-style: solid;
  border-right-style: solid;
  border-color: #000;
  border-width: 2px;
  background-image: url(../resources/gif.gif);
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 380px) {
    .galeria {
      margin: 0; } }
  .galeria div {
    margin: 20px;
    height: 250px; }
    .galeria div img {
      border-style: solid;
      display: block;
      height: 15em;
      transition: transform 0.5s ease; }
      .galeria div img:hover {
        box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737, 5px 5px #373737, 6px 6px #373737;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        transition: .5s ease; }
    .galeria div .button-34 {
      background: rgba(206, 69, 15, 0.88);
      box-shadow: 0 10px 20px -10px rgba(255, 255, 255, 0.74);
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      padding: 8px 18px;
      touch-action: manipulation;
      word-break: break-word;
      margin-top: 6px;
      padding-bottom: 1px;
      padding-top: 1px;
      border-style: solid;
      border-color: black; }
      .galeria div .button-34:hover {
        color: #000; }
  @media (max-width: 991px) {
    .galeria {
      background-image: url(../resources/E.jpg);
      grid-template-columns: repeat(2, 200px);
      height: 2000px;
      border-left-style: solid;
      border-right-style: solid;
      border-color: #000;
      border-width: 2px; }
      .galeria #fotonone {
        display: none; }
      .galeria div {
        height: auto; } }
  @media (max-width: 600px) {
    .galeria {
      background-image: url(../resources/370px.jpg);
      grid-template-columns: repeat(1, 200px);
      height: 160em !important;
      margin: 0 !important; } }

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  /* Ajusta el margen superior según tu necesidad */ }
  .searchbar .form-control {
    width: 300px;
    /* Establece el ancho deseado solo para los inputs dentro de .searchbar */ }

.preguntas {
  padding-top: 50px; }
  .preguntas div ul li {
    cursor: pointer;
    list-style-type: none; }
    .preguntas div ul li:hover {
      text-decoration: underline; }

.container-preguntas {
  padding-left: 50px;
  padding-right: 50px; }
  .container-preguntas h3 {
    padding-top: 20px; }

* {
  box-sizing: border-box; }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer; }
  input[type=submit]:hover {
    background-color: #121212; }

.container {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px; }
  .container .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px; }
  .container .row {
    --bs-gutter-x: 0!important; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* Proporción 16:9 para mantener la relación de aspecto del mapa */ }

.map-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

@media screen and (max-width: 600px) {
  #mapa {
    height: 200px; } }

@media screen and (max-width: 600px) {
  .container .column, .container input[type=submit] {
    width: 100%;
    margin-top: 0; } }

.slidein {
  background-image: url(../resources/swoosh.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 20px; }
  @media (max-width: 1000px) {
    .slidein {
      margin: 20px auto;
      background-repeat: repeat;
      background-size: 50px; } }

.slideinL {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: slideinLeft;
  display: flex;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  border: 1px solid white; }
  @media (max-width: 1000px) {
    .slideinL {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* Centra los elementos horizontalmente */
      text-align: center; } }
  .slideinL img {
    border: 1px solid white;
    border-radius: 20px;
    flex: 1;
    max-width: 50%;
    object-fit: cover;
    margin-right: 10px; }
    @media (max-width: 1000px) {
      .slideinL img {
        width: 100%;
        height: auto;
        margin: 0;
        text-align: center; } }
  .slideinL .text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 20px; }
  .slideinL h3 {
    margin: 0;
    font-size: 30px; }
    @media (max-width: 1000px) {
      .slideinL h3 {
        text-align: center; } }
  .slideinL p {
    font-size: 25px;
    padding-top: 10px; }
    @media (max-width: 1000px) {
      .slideinL p {
        text-align: center; } }

@keyframes slideinLeft {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

body {
  margin: 0;
  overflow-x: hidden; }

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
  margin-top: 200px; }

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  display: block; }

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s; }

.footer .row a:hover {
  color: #fff; }

.footer .row ul {
  width: 100%; }

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px; }

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%; }

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%; }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left; }
  .footer .row a i {
    margin: 0% 3%; } }

#nav {
  background-color: rgba(255, 235, 205, 0.527) !important; }

.btn-outline-success {
  --bs-btn-color: #000000 !important;
  --bs-btn-border-color: #000000 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #000000 !important;
  --bs-btn-hover-border-color: #000000 !important;
  --bs-btn-focus-shadow-rgb: 0, 0, 0 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #000000 !important;
  --bs-btn-active-border-color: #000000 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #000000 !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: #000000 !important;
  --bs-gradient: none !important; }
