@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:ital,wght@1,300;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
h1 {
  color: 255; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace !important;
  font-style: italic !important; }

#nav {
  background-color: rgba(255, 235, 205, 0.527) !important; }

/*footer*/
/*footer-END*/
#item1 {
  background-image: url(../resources/item.png); }
  @media (max-width: 991px) {
    #item1 {
      background-image: url(../resources/caruselmobil1.jpg); } }

#item2 {
  background-image: url(../resources/item2.jpg); }

#item3 {
  background-image: url(../resources/item3.jpg); }
  @media (max-width: 991px) {
    #item3 {
      background-image: url(../resources/caruselmobil3.jpg); } }

@media (max-width: 991px) {
  #item3 {
    background-image: url(../resources/caruselmobil3.jpg); } }

#carouselExample {
  padding-left: 50px;
  padding-right: 50px; }

h1 {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 235, 205, 0.527);
  border-width: 2px;
  border-style: solid;
  border-top: true;
  border-bottom: true;
  margin-bottom: 0 !important; }

.carousel-item p {
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
  color: #ffee00;
  font-size: 1em;
  padding-left: 150px; }
  @media (max-width: 991px) {
    .carousel-item p {
      display: flex !important;
      align-items: center;
      justify-content: center;
      padding: 0;
      font-size: 1em; } }

.carousel-item h2 {
  display: flex;
  color: #a5472a;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: 400;
  font-style: normal;
  padding-top: 300px;
  padding-left: 150px; }
  @media (max-width: 991px) {
    .carousel-item h2 {
      padding: 0;
      align-items: center;
      justify-content: center;
      padding-top: 65px;
      font-size: 50px; } }

@media (max-width: 991px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 200px !important; } }

/*usamos esto para que las flehcas del carousel no ocupen todo el alto del contenedor*/
.carousel-control-prev,
.carousel-control-next {
  margin-top: 300px;
  margin-bottom: 300px;
  width: 300px !important; }
  @media (max-width: 991px) {
    .carousel-control-prev,
    .carousel-control-next {
      width: 200px !important; } }

.carousel-item {
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 2px; }
  .carousel-item .button-54:active {
    box-shadow: 0;
    left: 155px;
    top: 5px; }

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 150px;
  z-index: 200;
  /*utilizado para que el boton del carousel no interfiera con el boton de SHOP*/ }
  .button-54:active {
    box-shadow: none;
    left: 155px;
    top: 5px; }
  @media (max-width: 991px) {
    .button-54 {
      display: none; } }

/*sector galeria*/
.contenedor-galeria h2 {
  padding: 15px 0;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
  margin-bottom: 0 !important; }

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: space-around;
  justify-items: center;
  height: 1000px;
  margin: 0 50px;
  border-left-style: solid;
  border-right-style: solid;
  border-color: #000;
  border-width: 2px;
  background-image: url(../resources/gif.gif);
  background-size: cover;
  background-repeat: no-repeat; }
  .galeria div {
    margin: 20px;
    height: 250px; }
    .galeria div img {
      border-style: solid;
      display: block;
      height: 15em;
      transition: transform 0.5s ease; }
      .galeria div img:hover {
        box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737, 5px 5px #373737, 6px 6px #373737;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        transition: .5s ease; }
    .galeria div .button-34 {
      background: rgba(206, 69, 15, 0.88);
      box-shadow: 0 10px 20px -10px rgba(255, 255, 255, 0.74);
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      padding: 8px 18px;
      touch-action: manipulation;
      word-break: break-word;
      border: 0;
      margin-top: 6px;
      padding-bottom: 1px;
      padding-top: 1px; }
      .galeria div .button-34:hover {
        color: #000; }
  @media (max-width: 991px) {
    .galeria {
      background-image: url(../resources/E.jpg);
      grid-template-columns: repeat(2, 200px);
      height: 2000px;
      border-left-style: solid;
      border-right-style: solid;
      border-color: #000;
      border-width: 2px; }
      .galeria #fotonone {
        display: none; }
      .galeria div {
        height: auto; } }
  @media (max-width: 600px) {
    .galeria {
      background-image: none;
      grid-template-columns: repeat(1, 200px);
      height: 160em !important; } }

/*FIN GALERIA*/
/*PREGUNTAS FRECUENTES*/
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  /* Ajusta el margen superior según tu necesidad */ }
  .searchbar .form-control {
    width: 300px;
    /* Establece el ancho deseado solo para los inputs dentro de .searchbar */ }
  .searchbar span i {
    cursor: pointer; }
    .searchbar span i:hover {
      color: #3dcf61; }
    .searchbar span i .intro {
      padding-top: 100px;
      display: block;
      border-width: 0.1px;
      border-color: #0000001c;
      border-bottom-style: solid; }

.preguntas {
  padding-top: 50px; }
  .preguntas div ul li {
    cursor: pointer;
    list-style-type: none; }
    .preguntas div ul li:hover {
      text-decoration: underline; }

.container-preguntas {
  padding-left: 50px;
  padding-right: 50px; }
