.contenedor-galeria h2 {
    padding: 15px 0;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;

    border: {
        top-style: solid;
        bottom-style: solid;
        width: 2px;
    }

    margin-bottom: 0 !important;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: space-around;
    justify-items: center;
    height: 1000px;
    margin: 0 50px;

    border: {
        left-style: solid;
        right-style: solid;
        color: #000;
        width: 2px;
    }

    background: {
        image: url(../resources/gif.gif);
        size: cover;
        repeat: no-repeat;
    }

    div {
        margin: 20px;
        height: 250px;

        img {
            border-style: solid;
            display: block;
            height: 15em;
            transition: transform 0.5s ease;

            &:hover {
                box-shadow:
                    1px 1px #373737,
                    2px 2px #373737,
                    3px 3px #373737,
                    4px 4px #373737,
                    5px 5px #373737,
                    6px 6px #373737;
                -webkit-transform: translateX(-3px);
                transform: translateX(-3px);
                transition: .5s ease;

            }
        }

        .button-34 {
            background: rgba(206, 69, 15, 0.88);
            box-shadow: 0 10px 20px -10px rgba(255, 255, 255, 0.74);
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            padding: 8px 18px;
            touch-action: manipulation;
            word-break: break-word;
            border: 0;
            margin-top: 6px;
            padding-bottom: 1px;
            padding-top: 1px;

            &:hover {
                color: #000;
            }
        }
    }

    @media (max-width: 991px) {
        background-image: url(../resources/E.jpg);
        grid-template-columns: repeat(2, 200px);
        height: 2000px;

        #fotonone {
            display: none;
        }

        border: {
            left-style: solid;
            right-style: solid;
            color: #000;
            width: 2px;
        }

        div {
            height: auto;
        }
    }

    @media (max-width: 600px) {
        background-image: none;
        grid-template-columns: repeat(1, 200px);
        height: 160em !important;

    }
}