.anuncio {
    display: flex;
    background-color: #100f0f;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.anuncio button {
    display: flex;
    height: 20px;
    width: 60px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 10px;
    padding: 0;
    background-color: red;

    &:active {
        background-color: re;
    }
}

.anuncio button p {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 1;
}

.especial {
    color: white;
    margin-bottom: 0;
}

.comprar {
    color: rgb(246, 56, 56);
    cursor: pointer;
    text-decoration: underline;
    margin-left: 65px;
}

.banner img {
    width: 100%;
}

.mostrador1 {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;

    @media (max-width: 1460px) {
        margin-left: 20px;
        margin-right: 20px;
    }

    @media (max-width: 1300px) {
        margin-left: 0;
        margin-right: 0;
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
        width: 100%; 

    }

    div {
        width: 100%; 
    }

    img {
        width: 100%; /* Asegura que las imágenes ocupen el ancho completo de su contenedor */
        height: auto;
        cursor: pointer;
    }

}

.mostrador2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    @media (max-width: 720px) {
        grid-template-columns: 1fr
    }

    .mostrador2 div {
        position: relative;
        overflow: hidden;
        /* Para asegurar que el contenido extra de las imágenes no se muestre */
    }

    img {
        width: 100%;
        display: block;
        object-fit: cover;
        height: 900px;
        cursor: pointer;

    }
}

.grow img {
    transition: 1s ease;
}

.grow img:hover {
    -webkit-transform: scale(1.014);
    -ms-transform: scale(1.014);
    transform: scale(1.014);
    transition: 1s ease;
}

.bannerbot img {
    padding-top: 100px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;

    @media (max-width: 500px) {
            padding-left: 0px;
            padding-right: 0px;
      }
    
}

