.slidein {
    background-image: url(/resources/swoosh.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 20px;

    @media (max-width: 1000px) {
        margin: 20px auto;
        background-repeat: repeat;
        background-size: 50px;
    }
}

.slideinL {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-name: slideinLeft;
    display: flex;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    border: 1px solid white;

    @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra los elementos horizontalmente */
        text-align: center;
    }

    img {
        border: 1px solid white;
        border-radius: 20px;
        flex: 1;
        max-width: 50%;
        object-fit: cover;
        margin-right: 10px;

        @media (max-width: 1000px) {
            width: 100%;
            height: auto;
            margin: 0;
            text-align: center;
            
        }
    }

    .text-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        margin-left: 20px;
        
    }

    h3 {
        margin: 0;
        font-size: 30px;
        @media (max-width: 1000px) {
            text-align: center;
        }
    }

    p {
        font-size: 25px;
        padding-top: 10px;

        @media (max-width: 1000px) {
            text-align: center;
        }
    }
}

@keyframes slideinLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}