.slidein {
    background-color: red;
    background-image: url(/resources/swoosh.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;

    @media (max-width: 1000px) {
        display: block;
        margin: 20px auto;

    }

    .slideinL {
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-name: slideinLeft;
        display: flex;
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        width: 60%;
        padding: 10px;
        margin-right: 20px;
        flex-direction: row-reverse;
        align-self: flex-end;
        margin-left: auto;
        border-style: solid;
        border-width: 1px;
        border-color: white;

        @media (max-width: 1675px) {
            display: block;
            height: auto;
            margin: 20px auto;
            width: 95%;

        }

        img {
            border-style: solid;
            border-width: 1px;
            border-radius: 20px;
            margin-left: 20px;
            height: 40em;
            width: 45em;
            margin-left: 20px;



            @media (max-width: 1675px) {
                width: 100%;
                height: auto;
                margin: 0;
            }
        }

        P {
            text-align: right;
            color: white;
            font-size: 25px;
            padding-top: 35px;
            margin-bottom: 0;

            @media (max-width: 1675px) {
                text-align: center;
            }
        }

    }

    .slideinR {
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-name: slideinRight;
        display: flex;
        align-items: flex-start;
        width: 60%;
        padding: 10px;
        border-radius: 20px;
        margin: 20px;
        background-color: rgb(0, 0, 0);
        right: 0;
        transform: translateX(0);
        border-style: solid;
        border-width: 1px;
        border-color: white;

        

        h3{
           
            margin: 0 0 10px 0;
        }

        @media (max-width: 1675px) {
            display: block;
            margin: 20px auto;
            width: 95%;


        }

        img {
            border-style: solid;
            border-width: 1px;
            border-radius: 20px;
            margin-left: 20px;
            height: 40em;
            width: 45em;
            margin-left: 0;
            margin-right: 20px;



            @media (max-width: 1675px) {
                width: 100%;
                height: auto;
                margin: 0;
            }
        }

        p {
            color: white;
            padding-top: 35px;
            font-size: 25px;

            @media (max-width: 1675px) {
                text-align: center;
            }
        }

    }

    @keyframes slideinLeft {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes slideinRight {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }

    #slideintop {
        margin-top: 50px;
    }
}